<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      {% include header.html %}

      <article class="wrapper">
        <div id="search-loader" class="img-wrap">
          <div class="loading">
            <img src="{{ site.assets_path }}/img/loading.png">
          </div>
        </div>
        <div class="row clearfix">
          {{ content }}
        </div>
      </article>

      {% include footer.html %}
    </div>

    <script src="{{ site.assets_path }}/js/jquery.min.js"></script>
    <script src="{{ site.assets_path }}/js/bootstrap.min.js"></script>
    <script src="{{ site.assets_path }}/js/webcore.js"></script>
    <script src="{{ site.assets_path }}/js/lrtk.js"></script>
    {% include baidu-analytics.html %}
    {% if site.comments.changyan.status %}
    <!-- duoshuo Begin -->
    <!-- duoshuo End -->
    {% endif %}
    <a href="#0" class="cd-top">Top</a>
  </body>
</html>
